*{
  margin:0;
  padding: 0;
  
  /* background-color: rgb(90, 90, 235); */

}
.bookingCard{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.tab:hover{
  background-color: white;
  color: black;
  text-decoration: underline;
  transition: 20ms;
}
.sticky{
  position: fixed;
  top:0;
  z-index: 1000;
  
}
.form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



@keyframes lefttoright{
    0%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(100px);
    }
}


.animation{

  animation-name:  lefttoright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition:all 2s;
}